<img src="splitApplyCombine.png" width="400">

Pandas 的 `groupby` 功能是一種非常強大的數據分析工具，它允許您將數據集分成多個組，然後對每個組進行獨立的計算或應用函數。這種方法的靈感來自於 SQL 的 GROUP BY 語句，但在 Pandas 中，它提供了更高的靈活性和強大的功能。

### 功能
`groupby` 操作通常涉及以下一個或多個步驟：
- **分割（Splitting）**：根據一個或多個鍵將數據分割成多組。
- **應用（Applying）**：對每個組獨立應用函數，進行計算或執行操作（如聚合、轉換、過濾）。
- **組合（Combining）**：將處理後的結果組合回一個數據結構中。

In [50]:
import pandas as pd

# 創建一個簡單的 DataFrame
df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
    'data': [0, 5, 10, 5, 10, 15, 10, 15, 20]
})

print(df)
# 使用 groupby 進行分組並計算每組的平均值
group_sum = df.groupby('key').sum()
print(group_sum)
group_mean = df.groupby('key').mean()
print(group_mean)

  key  data
0   A     0
1   B     5
2   C    10
3   A     5
4   B    10
5   C    15
6   A    10
7   B    15
8   C    20
     data
key
A      15
B      30
C      45
     data
key
A     5.0
B    10.0
C    15.0

In [51]:
import yfinance as yf

In [54]:
tsmc = yf.download("2330.tw", start="2023-01-01", end="2023-12-31")

[*********************100%%**********************]  1 of 1 completed

In [57]:
tsmc.head()

             Open   High    Low  Close   Adj Close    Volume
Date
2023-01-03  446.0  453.5  443.0  453.0  443.656769  14885824
2023-01-04  449.5  455.0  448.5  449.5  440.228943  19188422
2023-01-05  459.0  459.5  455.0  458.5  449.043335  23549581
2023-01-06  455.0  459.5  455.0  458.5  449.043335  20886011
2023-01-09  468.0  481.0  467.5  481.0  471.079224  46666263

In [58]:
tsmc.Close - tsmc.Close.shift()

Date
2023-01-03     NaN
2023-01-04    -3.5
2023-01-05     9.0
2023-01-06     0.0
2023-01-09    22.5
              ...
2023-12-25    -1.0
2023-12-26     5.0
2023-12-27     6.0
2023-12-28     1.0
2023-12-29     0.0
Name: Close, Length: 239, dtype: float64

In [69]:
tsmc["change_delta"] = tsmc.Close.diff()

In [120]:
tsmc["change"] = tsmc.Close.diff().apply(lambda x: "漲" if x > 0 else ("跌" if x < 0 else "平"))

In [67]:
tsmc.groupby("change")["Close"].count()

change
平     17
漲    114
跌    108
Name: Close, dtype: int64

In [72]:
tsmc.groupby("change")[["Close", "change_delta"]].describe()

        Close                                                              \
        count        mean        std    min     25%    50%     75%    max
change
平        17.0  555.382353  41.592341  453.0  544.00  565.0  585.00  593.0
漲       114.0  546.144737  28.704839  458.5  525.75  548.0  569.75  593.0
跌       108.0  538.731481  27.734592  449.5  519.00  537.5  562.00  590.0

       change_delta
              count      mean       std   min   25%  50%  75%   max
change
平              16.0  0.000000  0.000000   0.0  0.00  0.0  0.0   0.0
漲             114.0  6.403509  5.802379   1.0  2.25  5.0  9.0  40.0
跌             108.0 -5.462963  4.434204 -21.0 -7.00 -4.0 -2.0  -0.5

紅K（或綠K）和黑K在股票市場中表示的是單日的價格變動，而「上漲」與「下跌」則通常是指相對於前一交易日收盤價的變化。這兩者之間確實存在關聯性，但它們並非完全相同。下面來詳細探討它們之間的關係：

### 單日價格行為（紅K/黑K）與日對日變化（上漲/下跌）的關聯：

1. **紅K與上漲**：
   - 如果一個交易日形成了一根紅K，這意味著該日的收盤價高於開盤價，顯示出單日內的價格上漲。
   - 如果連續幾天都是紅K，且每天的收盤價都高於前一日的收盤價，則這些紅K也反映了股票的日對日上漲趨勢。

2. **黑K與下跌**：
   - 一根黑K表示該交易日的收盤價低於開盤價，顯示出單日內的價格下跌。
   - 如果連續幾天形成黑K，且每天的收盤價都低於前一天的收盤價，這也表示股票呈現日對日的下跌趨勢。

### 關聯性：

- **單日動態與趨勢分析**：紅K和黑K提供了市場情緒和單日價格動態的直觀反映。而「上漲」與「下跌」則提供了相對於前一交易日的變化趨勢，有助於分析股票的短期走勢。
- **市場情緒指示**：一系列的紅K可能預示著積極的市場情緒和潛在的上漲趨勢，而一系列的黑K則可能表示市場情緒消極，預示著下跌趨勢。
- **價格分析的輔助工具**：紅K和黑K可以作為判斷市場短期內是否存在上漲或下跌動力的輔助工具，而日對日的上漲或下跌則有助於確定中長期趨勢。

總的來說，單日內的紅K或黑K與相對於前一日的上漲或下跌之間存在著密切的關聯性。紅K或黑K提供了對單日市場動態的洞察，而連續的紅K或黑K與日對日的價格變化結合起來，則可以揭示更加廣泛的市場趨勢。

In [74]:
tsmc["K_delta"] = tsmc.Close - tsmc.Open

In [76]:
tsmc["K_status"] = tsmc.K_delta.apply(lambda x: "紅K" if x >= 0 else "黑K")

In [80]:
tsmc.groupby("K_status").K_delta.mean()

K_status
紅K    2.829545
黑K   -3.841121
Name: K_delta, dtype: float64

In [81]:
tsmc.groupby("K_status").K_delta.describe()

          count      mean      std   min  25%  50%  75%   max
K_status
紅K        132.0  2.829545  3.09631   0.0  1.0  2.0  4.0  18.0
黑K        107.0 -3.841121  2.80212 -15.0 -5.5 -3.0 -2.0  -0.5

In [85]:
tsmc.groupby(["change", "K_status"])[["change_delta", "K_delta"]].describe()

                change_delta                                                  \
                       count      mean       std   min  25%  50%   75%   max
change K_status
平      紅K               12.0  0.000000  0.000000   0.0  0.0  0.0  0.00   0.0
       黑K                4.0  0.000000  0.000000   0.0  0.0  0.0  0.00   0.0
漲      紅K               86.0  6.773256  5.987564   1.0  3.0  5.0  9.00  40.0
       黑K               28.0  5.267857  5.125250   1.0  2.0  4.0  7.25  23.0
跌      紅K               33.0 -4.409091  3.810870 -19.0 -6.0 -3.0 -2.00  -1.0
       黑K               75.0 -5.926667  4.630023 -21.0 -8.0 -5.0 -2.50  -0.5

                K_delta
                  count      mean       std   min  25%  50%   75%   max
change K_status
平      紅K          13.0  2.576923  2.271620   0.0  1.0  2.0  4.00   7.0
       黑K           4.0 -2.500000  0.577350  -3.0 -3.0 -2.5 -2.00  -2.0
漲      紅K          86.0  3.593023  3.394209   0.0  1.0  3.0  5.75  18.0
       黑K          28.0 -3.017857  1.897767  -8.0 -4.0 -3.0 -1.75  -0.5
跌      紅K          33.0  0.939394  1.197377   0.0  0.0  1.0  1.00   5.0
       黑K          75.0 -4.220000  3.069290 -15.0 -6.0 -4.0 -1.75  -1.0

In [97]:
tsmc.groupby(tsmc.index.month)[["change_delta", "K_delta"]].mean()

      change_delta   K_delta
Date
1         5.750000 -0.269231
2        -0.611111 -0.722222
3         0.956522  0.739130
4        -1.823529 -2.088235
5         2.545455 -0.840909
6         0.900000  0.600000
7        -0.523810 -1.095238
8        -0.727273 -1.136364
9        -1.300000  0.700000
10        0.300000  0.600000
11        2.181818  0.909091
12        0.761905  0.285714

In [106]:
tsmc.resample("2W")[["change_delta", "K_delta"]].mean()

            change_delta   K_delta
Date
2023-01-08      1.833333  2.500000
2023-01-22      6.357143  0.071429
2023-02-05      7.800000 -2.400000
2023-02-19     -2.400000 -1.300000
2023-03-05     -0.250000  1.000000
2023-03-19      0.200000 -0.100000
2023-04-02      1.500000  0.800000
2023-04-16     -2.428571 -2.000000
2023-04-30     -1.400000 -2.150000
2023-05-14     -0.666667 -1.333333
2023-05-28      7.000000  0.150000
2023-06-11     -0.100000  0.500000
2023-06-25      2.000000  0.375000
2023-07-09     -1.600000 -1.800000
2023-07-23     -0.500000 -0.200000
2023-08-06     -0.666667 -1.444444
2023-08-20     -1.500000 -0.900000
2023-09-03      0.900000 -0.500000
2023-09-17      1.000000  1.700000
2023-10-01     -3.888889 -0.888889
2023-10-15      3.750000  2.500000
2023-10-29     -2.000000 -0.300000
2023-11-12      2.400000  1.700000
2023-11-26      1.800000 -0.400000
2023-12-10     -0.500000 -0.700000
2023-12-24      1.200000  0.300000
2024-01-07      2.200000  2.400000

In [112]:
import numpy as np
tsmc.resample("2W")[["change_delta", "K_delta"]].agg([max, np.mean, sum, np.std])

           change_delta                            K_delta                  \
                    max      mean   sum        std     max      mean   sum
Date
2023-01-08          9.0  1.833333   5.5   6.448514     7.0  2.500000  10.0
2023-01-22         22.5  6.357143  44.5   8.811518    13.0  0.071429   0.5
2023-02-05         40.0  7.800000  39.0  21.822007     2.0 -2.400000 -12.0
2023-02-19         17.0 -2.400000 -24.0  10.864826     2.0 -1.300000 -13.0
2023-03-05         11.0 -0.250000  -2.0   7.478541    18.0  1.000000   8.0
2023-03-19         13.0  0.200000   2.0   6.460134     3.0 -0.100000  -1.0
2023-04-02         16.0  1.500000  15.0   7.261007    10.0  0.800000   8.0
2023-04-16          6.0 -2.428571 -17.0   4.995236     2.0 -2.000000 -14.0
2023-04-30          8.5 -1.400000 -14.0   5.526703     3.5 -2.150000 -21.5
2023-05-14          6.0 -0.666667  -6.0   4.415880     3.0 -1.333333 -12.0
2023-05-28         23.0  7.000000  70.0   9.436925    11.0  0.150000   1.5
2023-06-11         11.0 -0.100000  -1.0   7.430418     7.0  0.500000   5.0
2023-06-25         19.0  2.000000  16.0   8.141604     4.0  0.375000   3.0
2023-07-09          6.0 -1.600000 -16.0   6.535374     6.0 -1.800000 -18.0
2023-07-23         12.0 -0.500000  -5.0   8.771798     4.0 -0.200000  -2.0
2023-08-06         11.0 -0.666667  -6.0   5.431390     8.0 -1.444444 -13.0
2023-08-20          4.0 -1.500000 -15.0   3.689324     4.0 -0.900000  -9.0
2023-09-03         12.0  0.900000   9.0   8.595218     6.0 -0.500000  -5.0
2023-09-17          9.0  1.000000  10.0   6.666667     9.0  1.700000  17.0
2023-10-01          3.0 -3.888889 -35.0   6.565905     5.0 -0.888889  -8.0
2023-10-15         12.0  3.750000  30.0   7.106335     5.0  2.500000  20.0
2023-10-29         10.0 -2.000000 -20.0   8.393119     7.0 -0.300000  -3.0
2023-11-12         19.0  2.400000  24.0   6.203941    11.0  1.700000  17.0
2023-11-26         14.0  1.800000  18.0   6.713171     4.0 -0.400000  -4.0
2023-12-10          7.0 -0.500000  -5.0   4.503085    10.0 -0.700000  -7.0
2023-12-24          5.0  1.200000  12.0   3.966527     6.0  0.300000   3.0
2024-01-07          6.0  2.200000  11.0   3.114482     5.0  2.400000  12.0


                 std
Date
2023-01-08  3.488075
2023-01-22  6.153783
2023-02-05  7.231874
2023-02-19  2.830391
2023-03-05  9.227289
2023-03-19  2.424413
2023-04-02  5.287301
2023-04-16  2.645751
2023-04-30  4.661008
2023-05-14  3.427827
2023-05-28  4.150301
2023-06-11  4.503085
2023-06-25  1.597990
2023-07-09  4.417138
2023-07-23  3.190263
2023-08-06  5.052502
2023-08-20  4.280446
2023-09-03  4.169999
2023-09-17  5.869885
2023-10-01  3.655285
2023-10-15  2.000000
2023-10-29  5.100109
2023-11-12  5.292552
2023-11-26  3.627059
2023-12-10  5.518655
2023-12-24  2.540779
2024-01-07  2.408319

In [124]:
df2 = tsmc.groupby("change")[["change_delta", "K_delta"]]

In [ ]:
df2.transform

In [122]:
tsmc.groupby("change")[["change_delta", "K_delta"]].mean()

        change_delta   K_delta
change
平           0.000000  1.382353
漲           6.403509  1.969298
跌          -5.462963 -2.643519

In [123]:
tsmc.groupby("change")[["change_delta", "K_delta"]].std()

        change_delta   K_delta
change
平           0.000000  2.976625
漲           5.802379  4.206656
跌           4.434204  3.555995