GDP

In [1]:
gdp_url = "https://nstatdb.dgbas.gov.tw/dgbasall/webMain.aspx?sdmx/a018101010/4...A.&startTime=2011&endTime=2023"

In [2]:
import requests
import pandas as pd

In [35]:
r = requests.get(gdp_url)

In [37]:
r.status_code

200

In [38]:
data = pd.read_json(r.text)

In [39]:
data

,meta,data
id,2Ey8xrXPXdswrhMlLSzrA+k5JtI=,NaN
test,False,NaN
prepared,2024-08-10 03:33:12 1372,NaN
sender,"{'id': 'dgbas', 'name': '行政院主計總處'}",NaN
links,[{'href': 'https://nstatdb.dgbas.gov.tw/dgbasa...,NaN
dataSets,NaN,"[{'action': 'Information', 'series': {'0': {'o..."
structure,NaN,{'links': [{'href': 'https://nstatdb.dgbas.gov...

In [43]:
gdp = data.data.dataSets[0]["series"]["0"]["observations"]

In [49]:
time_periods = data.data.structure["dimensions"]["observation"][0]["values"]

In [50]:
gdp

{'0': [14262201],
 '1': [14677765],
 '2': [15270728],
 '3': [16258047],
 '4': [17055080],
 '5': [17555268],
 '6': [17983347],
 '7': [18375022],
 '8': [18908632],
 '9': [19914806],
 '10': [21663231],
 '11': [22679843],
 '12': [23544961]}

In [51]:
time_periods

[{'id': '2011', 'name': '100年'},
 {'id': '2012', 'name': '101年'},
 {'id': '2013', 'name': '102年'},
 {'id': '2014', 'name': '103年'},
 {'id': '2015', 'name': '104年'},
 {'id': '2016', 'name': '105年'},
 {'id': '2017', 'name': '106年'},
 {'id': '2018', 'name': '107年'},
 {'id': '2019', 'name': '108年'},
 {'id': '2020', 'name': '109年'},
 {'id': '2021', 'name': '110年'},
 {'id': '2022', 'name': '111年'},
 {'id': '2023', 'name': '112年'}]

In [64]:
gdp_data = []
for i, p in enumerate(time_periods):
    gdp_data.append([time_periods[i]["id"], gdp[str(i)][0]])

In [67]:
gdp_df = pd.DataFrame(gdp_data, columns=["year", "GDP"])

In [68]:
gdp_df

    year       GDP
0   2011  14262201
1   2012  14677765
2   2013  15270728
3   2014  16258047
4   2015  17055080
5   2016  17555268
6   2017  17983347
7   2018  18375022
8   2019  18908632
9   2020  19914806
10  2021  21663231
11  2022  22679843
12  2023  23544961

In [69]:
from pandas_datareader import data as web

In [72]:
fred_gdp = web.DataReader("GDP", "fred")

In [80]:
fred_gdp.resample("Y").sum()

                   GDP
DATE
2019-12-31   21902.390
2020-12-31   85291.798
2021-12-31   94376.123
2022-12-31  102976.433
2023-12-31  109443.739
2024-12-31   56898.327

In [82]:
web.DataReader("PAYEMS", "fred")

            PAYEMS
DATE
2019-09-01  151358
2019-10-01  151458
2019-11-01  151666
2019-12-01  151792
2020-01-01  152045
2020-02-01  152309
2020-03-01  150898
2020-04-01  130421
2020-05-01  133040
2020-06-01  137655
2020-07-01  139240
2020-08-01  140774
2020-09-01  141820
2020-10-01  142493
2020-11-01  142761
2020-12-01  142518
2021-01-01  142916
2021-02-01  143443
2021-03-01  144274
2021-04-01  144593
2021-05-01  145044
2021-06-01  145822
2021-07-01  146761
2021-08-01  147226
2021-09-01  147706
2021-10-01  148566
2021-11-01  149197
2021-12-01  149763
2022-01-01  150014
2022-02-01  150876
2022-03-01  151370
2022-04-01  151642
2022-05-01  151928
2022-06-01  152348
2022-07-01  153038
2022-08-01  153281
2022-09-01  153536
2022-10-01  153897
2022-11-01  154155
2022-12-01  154291
2023-01-01  154773
2023-02-01  155060
2023-03-01  155206
2023-04-01  155484
2023-05-01  155787
2023-06-01  156027
2023-07-01  156211
2023-08-01  156421
2023-09-01  156667
2023-10-01  156832
2023-11-01  157014
2023-12-01  157304
2024-01-01  157560
2024-02-01  157796
2024-03-01  158106
2024-04-01  158214
2024-05-01  158430
2024-06-01  158609
2024-07-01  158723

In [83]:
web.DataReader("UNRATE", "fred")

            UNRATE
DATE
2019-09-01     3.5
2019-10-01     3.6
2019-11-01     3.6
2019-12-01     3.6
2020-01-01     3.6
2020-02-01     3.5
2020-03-01     4.4
2020-04-01    14.8
2020-05-01    13.2
2020-06-01    11.0
2020-07-01    10.2
2020-08-01     8.4
2020-09-01     7.8
2020-10-01     6.8
2020-11-01     6.7
2020-12-01     6.7
2021-01-01     6.4
2021-02-01     6.2
2021-03-01     6.1
2021-04-01     6.1
2021-05-01     5.8
2021-06-01     5.9
2021-07-01     5.4
2021-08-01     5.1
2021-09-01     4.7
2021-10-01     4.5
2021-11-01     4.1
2021-12-01     3.9
2022-01-01     4.0
2022-02-01     3.8
2022-03-01     3.6
2022-04-01     3.7
2022-05-01     3.6
2022-06-01     3.6
2022-07-01     3.5
2022-08-01     3.6
2022-09-01     3.5
2022-10-01     3.6
2022-11-01     3.6
2022-12-01     3.5
2023-01-01     3.4
2023-02-01     3.6
2023-03-01     3.5
2023-04-01     3.4
2023-05-01     3.7
2023-06-01     3.6
2023-07-01     3.5
2023-08-01     3.8
2023-09-01     3.8
2023-10-01     3.8
2023-11-01     3.7
2023-12-01     3.7
2024-01-01     3.7
2024-02-01     3.9
2024-03-01     3.8
2024-04-01     3.9
2024-05-01     4.0
2024-06-01     4.1
2024-07-01     4.3

In [84]:
web.DataReader("CPIAUCSL", "fred")

            CPIAUCSL
DATE
2019-09-01   256.430
2019-10-01   257.155
2019-11-01   257.879
2019-12-01   258.630
2020-01-01   258.906
2020-02-01   259.246
2020-03-01   258.150
2020-04-01   256.126
2020-05-01   255.848
2020-06-01   257.004
2020-07-01   258.408
2020-08-01   259.366
2020-09-01   259.951
2020-10-01   260.249
2020-11-01   260.895
2020-12-01   262.005
2021-01-01   262.518
2021-02-01   263.583
2021-03-01   264.910
2021-04-01   266.752
2021-05-01   268.452
2021-06-01   270.664
2021-07-01   271.994
2021-08-01   272.789
2021-09-01   273.887
2021-10-01   276.434
2021-11-01   278.799
2021-12-01   280.808
2022-01-01   282.390
2022-02-01   284.535
2022-03-01   287.553
2022-04-01   288.764
2022-05-01   291.359
2022-06-01   294.996
2022-07-01   294.977
2022-08-01   295.209
2022-09-01   296.341
2022-10-01   297.863
2022-11-01   298.648
2022-12-01   298.812
2023-01-01   300.356
2023-02-01   301.509
2023-03-01   301.744
2023-04-01   303.032
2023-05-01   303.365
2023-06-01   304.003
2023-07-01   304.628
2023-08-01   306.187
2023-09-01   307.288
2023-10-01   307.531
2023-11-01   308.024
2023-12-01   308.742
2024-01-01   309.685
2024-02-01   311.054
2024-03-01   312.230
2024-04-01   313.207
2024-05-01   313.225
2024-06-01   313.049

In [85]:
web.DataReader("FEDFUNDS", "fred")

            FEDFUNDS
DATE
2019-09-01      2.04
2019-10-01      1.83
2019-11-01      1.55
2019-12-01      1.55
2020-01-01      1.55
2020-02-01      1.58
2020-03-01      0.65
2020-04-01      0.05
2020-05-01      0.05
2020-06-01      0.08
2020-07-01      0.09
2020-08-01      0.10
2020-09-01      0.09
2020-10-01      0.09
2020-11-01      0.09
2020-12-01      0.09
2021-01-01      0.09
2021-02-01      0.08
2021-03-01      0.07
2021-04-01      0.07
2021-05-01      0.06
2021-06-01      0.08
2021-07-01      0.10
2021-08-01      0.09
2021-09-01      0.08
2021-10-01      0.08
2021-11-01      0.08
2021-12-01      0.08
2022-01-01      0.08
2022-02-01      0.08
2022-03-01      0.20
2022-04-01      0.33
2022-05-01      0.77
2022-06-01      1.21
2022-07-01      1.68
2022-08-01      2.33
2022-09-01      2.56
2022-10-01      3.08
2022-11-01      3.78
2022-12-01      4.10
2023-01-01      4.33
2023-02-01      4.57
2023-03-01      4.65
2023-04-01      4.83
2023-05-01      5.06
2023-06-01      5.08
2023-07-01      5.12
2023-08-01      5.33
2023-09-01      5.33
2023-10-01      5.33
2023-11-01      5.33
2023-12-01      5.33
2024-01-01      5.33
2024-02-01      5.33
2024-03-01      5.33
2024-04-01      5.33
2024-05-01      5.33
2024-06-01      5.33
2024-07-01      5.33